{%extends 'base.html'%}
{% block title %}-Product List{% endblock %}
{% block contents %}
<div>
    <h3>Categories</h3>
    <ul>
        {% for c in categories %}
            <li><a href="{{ c.get_absolute_url }}">{{ c.name }}</a> </li>
        {% endfor %}
    </ul>
</div>
<div>
    {% for product in products %}
        <div class = "item">
            <a href="{{ product.get_absoulte_url }}">
                <img src="{% if product.image %}
                     {{ product.image.url }}
                     {% else %}
                     no_image.png
                     {% endif %}"
                    width="300"
                    height="300">
            </a>
            <a href="{{ product.get_absoulte_url }}">{{ product.name }}</a><br/>
            ${{ product.price }}
        </div>
    {% endfor %}
</div>
{% endblock %}

